.accordionItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid;
  font-size: 2rem;
  padding: 0 .5rem;
  cursor: pointer;

  &:hover {
    .title {
      letter-spacing: .25rem;
    }
  }

  &:active {
    .title {
      letter-spacing: normal;
    }
  }
}

.icon, .title {
  transition: .3s;
}

.content {
  max-height: 0;
  transition: .3s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  // scrollbar-width: none;
}

.features {
  margin-left: 1rem;
}

.linkWrapper {
  display: flex;
  align-items: center;
}

.link {
  position: relative;
  width: fit-content;
  transition: .3s;

  &:hover {
    letter-spacing: .25rem;
  }

  &:hover:after {
    width: 100%;
  }
}

.link:after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  background: var(--jet-black);
  left: 0;
  width: 0;
  transition: .2s ease;
}

.showContent {
  max-height: 20rem;
  overflow: auto;
}
