.button {
  border-radius: var(--card-radius);
  border: 2px solid var(--viridian);
  background: var(--background-color);
  text-align: center;
  padding: .5rem 2rem;
  transition: .25s;
  color: var(--font-color-default);

  &:hover {
    cursor: pointer;
    background: var(--viridian);
    color: var(--font-color-alt);
  }
}
