.x_icon_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border-radius: .5rem;
  margin: .5rem;
  padding: .5rem;
  background: var(--light-gray);
  display: flex;
}

.x_icon:hover {
  cursor: pointer;
}
