.mobile_nav__container {
  width: 100%;
  background: var(--background-color-alt);
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: inset 0px 0px 5px #68685a, 0px 0px 5px #68685a;
}

.nav_links {
  display: flex;
  justify-content: space-between;
  list-style: none;

  .nav_link:nth-child(1) {
    border-left: 2px solid var(--viridian)
  }
}

.nav_link {
  color: var(--font-color-alt);
  font-size: 1rem;
  font-weight: 200;
  border-right: solid;
  border-color: var(--viridian);
  border-width: 2px;
  padding: .5rem;
  flex-grow: 1;
}

@media screen and (min-width: 750px) {
  .mobile_nav__container {
    display: none;
  }
}
