.card_container {
  background-color: transparent;
  width: 10rem;
  height: 15rem;
  perspective: 1000px;
  border-radius: 1rem;
}

.card {
  border-radius: 1rem;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  box-shadow: var(--card-shadow);
}

.card_container:hover .card {
  transform: rotateY(180deg);
}

.card_front, .card_back {
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card_front {
  background: var(--moss-green);
}

.card_back {
  background: var(--dark-gray);
  color: var(--font-color-alt);
  transform: rotateY(180deg);
}

.logo_background {
  width: 100%;
  padding: 1.5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100%;
}

.card_content {
  font-weight: lighter;
}
