@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100&family=Montserrat:wght@300&display=swap');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --font-default: 'Montserrat', sans-serif;
  --font-headers: 'Encode Sans', sans-serif;

  --font-color-default: #505050;
  --font-color-alt: #ffeddf;
  --text-shadow: 0px 0px 10px #513d3a82;
  --text-shadow-alt: 0px 0.4px 1px #fdf4edb9;

  --background-color: #fdf4ed;
  --background-color-alt: #363635;

  --dark-gray: #363635;
  --viridian: #688D7D;
  --moss-green: #465C53;
  --shadow-gray: #b0b0b0bf;
  --light-gray: #b0b0b0a3;
  --medium-gray: #888888a3;
  --indian-red: #B86A61;
  --melon: #DEA59F;
  --mountbatten-pink: #9D8189;

  --card-shadow: 4px 4px 15px var(--shadow-gray);

  --card-radius: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
}

body {
  color: rgb(var(--font-color-default));
  background: var(--background-color);
  font-family: var(--font-default);
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headers);
}

a {
  color: inherit;
  text-decoration: none;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.show {
  display: block;
}

.hidden {
  display: none;
}
